/* src/Quiz.css */
body,
.multi-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.quiz-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;

}

.question-container {
  top:0;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  /* Align vertically to the top */
  align-items: flex-start;
  /* Align items to the top */

  width: 500px;
}

.option-button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(147, 154, 156);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button {
  padding: 10px;
  background-color: rgb(93, 97, 153);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-left: 65%;
  margin-top: 20px;
}